# ▶ Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ▶ Virtual environment folders
venv/
.venv/
env/

# ▶ pip package files
*.egg-info/
dist/
build/

# ▶ Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ▶ VSCode settings
.vscode/

# ▶ Mac OS / Windows system files
.DS_Store
Thumbs.db

# ▶ Pytest cache
.pytest_cache/

# ▶ Logs and temporary files
*.log
*.tmp
*.bak

# ▶ requirements output
poetry.lock
Pipfile.lock

data/
frames/
frames_test/
results/
yolov5/
selfpose3d_models_pseudo_labels/
videoplayback.mp4
yolov5_2d_generation_json.py
yolov5s.pt
rename.py
pseudo_labels/**/*.jpg
